<p>This is a blog by me.</p>

<p>I&rsquo;m a dude who needs to write stuff down to remember it.</p>

<!--
<p>I studied philosophy and stuff at <a href="http://stjohnscollege.edu">St.&nbsp;John&rsquo;s&nbsp;College</a>. I&rsquo;ve spent over seven years as a full-time front-end developer and web designer (in varying proportions). Right now I&rsquo;m working as a principal front-end developer at <a href="http://www.aol.com">AOL</a>.</p>

<p>I used to ride an old red motorcycle. Now I spend more time walking to <a href="http://sovadc.com/">the local coffee shop</a> with my son. I also watch 30 Rock a lot.</p>
-->
