/* Print styles! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/scss\/print\.scss}line{font-family:\0000321}}
#browse-issues-link,
#connect-questions,
#decide-filters,
#ft .links,
#issue-finder,
#hd_shadow,
#use-page-flyout,
#utility-tab,
.connect,
.global-alerts-container,
.options-wrapper,
.profile-links,
.puzzle,
.return-top-link,
.ribbon,
.small_find_container,
.utility {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/scss\/print\.scss}line{font-family:\0000327}}
#decision-table,
#main_content,
.shadow_box {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/scss\/print\.scss}line{font-family:\0000334}}
body.print-doctor-questions .right-column {
  float: none !important;
  width: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/scss\/print\.scss}line{font-family:\0000343}}
body.print-doctor-questions #take-action,
body.print-doctor-questions #advisory-board,
body.print-doctor-questions .left-column,
body.print-doctor-questions .print {
  display: none;
}
