/* Compass imports */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*@import "compass/typography/vertical_rhythm";*/
/*@import "compass/layout/grid-background";*/
/* Local Imports */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000312}}
.wf-loading h3 {
  /*border: 20px solid red;*/
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000312}}
.wf-loading h4 {
  /*border: 20px solid red;*/
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000312}}
.wf-loading .connect a {
  /*border: 20px solid red;*/
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000312}}
.wf-loading .company-logo {
  /*border: 20px solid red;*/
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000312}}
.wf-loading .ribbon a {
  /*border: 20px solid red;*/
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000321}}
.wf-active h3, .wf-inactive h3, .no-js h3 {
  /*border: 10px solid orange;*/
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000321}}
.wf-active h4, .wf-inactive h4, .no-js h4 {
  /*border: 10px solid orange;*/
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000321}}
.wf-active .connect a, .wf-inactive .connect a, .no-js .connect a {
  /*border: 10px solid orange;*/
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000321}}
.wf-active .company-logo, .wf-inactive .company-logo, .no-js .company-logo {
  /*border: 10px solid orange;*/
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/_fonts\.scss}line{font-family:\0000321}}
.wf-active .ribbon a, .wf-inactive .ribbon a, .no-js .ribbon a {
  /*border: 10px solid orange;*/
  visibility: visible;
}

/* Layout */
/* Colors */
/* Vertical Rhythm */
/* Grid */
/* Variables */
/* Base Rules */
/* A Base rule is applied to an element using an element selector, a descendent
 * selector, or a child selector, along with any pseudo-classes. It doesn’t
 * include any class or ID selectors. It is defining the default styling for
 * how that element should look in all occurrences on the page.
 *
 * Jonathan Snook
 * http://smacss.com/book/type-base
 */
/* Establish a vertical rhythm */
/*@include establish-baseline();*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/site\.scss}line{font-family:\0000329}}
body {
  font-family: Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/site\.scss}line{font-family:\0000338}}
::selection {
  background: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/site\.scss}line{font-family:\0000342}}
::-moz-selection {
  background: red;
}

/* Layout Rules */
/* CSS, by its very nature, is used to lay elements out on the page. However,
 * there is a distinction between layouts dictating the major and minor
 * components of a page. The minor components—such as a callout, or login form,
 * or a navigation item sit within the scope of major components such as a
 * header or footer. I refer to the minor components as Modules and will dive
 * into those in the next section. The major components are referred to as
 * Layout styles.
 *
 * Jonathan Snook
 * http://smacss.com/book/type-layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/site\.scss}line{font-family:\0000360}}
.l-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/personal\/nateeagle\.com\/assets\/scss\/site\.scss}line{font-family:\0000364}}
.l-right {
  float: right;
}

/* Module Rules */
/* As briefly mentioned in the previous section, a Module is a more discrete
 * component of the page. It is your navigation bars and your carousels and
 * your dialogs and your widgets and so on. This is the meat of the page.
 * Modules sit inside Layout components. Modules can sometimes sit within other
 * Modules, too. Each Module should be designed to exist as a standalone
 * component. In doing so, the page will be more flexible. If done right,
 * Modules can easily be moved to different parts of the layout without
 * breaking.
 *
 * Jonathan Snook
 * http://smacss.com/book/type-module
 */
/* Module imports */
/*@import "modules/content-module-tabs";*/
/* State Rules */
/* A state is something that augments and overrides all other styles. For
 * example, an accordion section may be in a collapsed or expanded state. A
 * message may be in a success or error state.  States are generally applied to
 * the same element as a layout rule or applied to the same element as a base
 * module class.
 *
 * Jonathan Snook
 * http://smacss.com/book/type-state
 */
/* Themes
 */
